
%br
.container
  .container-fluid
    .navbar-header
      %ul Author: Liam O'Driscoll - 
    %div#bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %ul.nav.navbar-nav.navbar-right
          %a{:href => "mailto:Liam@samsoc.com"}  Liam@samsoc.com