%h1= t('.title')
%p= t('.welcome')


%p Surrey Anime and Manga Society was established in 2006, and since then we have blossomed into a wonderful community of avid anime and manga enjoyers. Our society is open to everyone, from complete beginners to seasoned pros.

%h1 
    %strong
        What we do

%h2 Regular Sessions

%p Every Wednesday at 6pm we meet at [room to be confirmed at the start of term] to watch anime. At the start of term, we vote on which shows we would like to watch and throughout the semester we watch two short core shows and one long core. We also have a break in the middle of the session so we can grab food and play games together! Favourites from last year include Kahoot quizzes, ‘Just a Minute!’, controversial debates and drawing challenges. These games, whilst being very fun to play, also provide a good opportunity to bond with the other members, something we strongly encourage here at SAMsoc.

%h2 Social Sessions

%p Although we are an anime and manga society, we are also so much more! At the weekends, we host a wide range of events, which include:

%ul
    %li Karaoke evenings
    %li Games nights
    %li Film seshes
    %li Collaborations with other societies (e.g. Dodgeball, Japanese society, Korean society and the video games society- just to name a few!)
    %li Bake sales
    %li Charity concerts
    %li Naruto running around campus (for charity)
    %li Quiz nights
    %li Collaborations with other university anime societies
    %li Online social events

%h2 We are excited to bring back our favourite events this year, as well as adding some new ones to the mix! Follow our social media pages to keep up to date with our events, and make sure to join our Discord (the link will become available after you sign up on the union website).   